.context-menu {
  width: 120px;
  list-style: none;
  background-color: #ddd;
  border: 1px solid #333;
  margin: 0px;
  padding: 1px;

  .context-menu-option {
    button {
      font-weight: 500;
      font-size: 14px;
      padding: 4px;
      cursor: pointer;

      width: 100%;
      background-color: #ddd;
      border: 0;
      text-align: start;

      &:hover {
        background: #333;
        color: #ddd;
      }
    }
    hr {
      margin: 0;
    }
  }
}
